<!--footer section starts here-->
<footer class="footer-area pt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="footer-top flex-column">
          <div class="footer-logo">
            <a href="https://niranzan.com" target="_blank"><img src="images/favicon.png" alt=""></a>
            <h4>Follow Me</h4>
          </div>
          <div class="footer-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row footer-bottom justify-content-center">
      <p class="col-lg-8 col-sm-12 footer-text">
        Developed by <a href="https://niranzan.com" target="_blank">niranzan.com</a>
      </p>
    </div>
  </div>
</footer>
<!--footer section ends here-->