$base-background: #ffffff;
$white: #ffffff;
$base-text: #777;
$base-black: #000000;
$base-icon: $base-black;
$base-color-hover: #ea5267;
$base-odd-background: #e1e1e4;
$menu-color: $base-black;
$banner-text: #6ba8f9;
$collasped-navbar-background: rgba(1, 1, 1, 0.8);
$btn-box-shadow: rgba(0, 0, 0, .3);
$skill-row-background: rgba(0, 0, 0, 0.1);
$job-background: $base-odd-background;
$color-lightsalmon: #FFA07A;
$color-coral: #FF7F50;
$color-tomato: #FF6347;
$color-orangered: #FF4500;
$color-darkorange: #FF8C00;
$color-orange: #FFA500;
$color-indianred: #CD5C5C;
$color-lightcoral: #F08080;
$color-salmon: #FA8072;
$color-darksalmon: #E9967A;
$button-font-size: 0.8rem;